.home-container {
    width: 100%;
  
}
      .profile-name{
         
          display: flex;
          justify-content: center;
          align-items: center;
          border-radius: 50%;
          cursor: pointer;
          font-weight: 400;
          font-size: 1.5rem;
          width: 3rem;
          height: 3rem;
          background-color: rgb(119, 119, 217);
          border-radius: 50%;

        }
         .profile-name p{
          padding-top: 0.5rem;
         }
  

